/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

body {
    text-align: left;
}

article {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

ul {
    text-align: center;
}

ul a {
    margin-left: 20px;
}
ul a:first-child {
    margin-left: 0;
}
